<div class="layout">
  <div class="container">

    <div class="cadastro">
      <button [routerLink]="['cadastro']">Cadastrar nova blusa</button>
    </div>
    
    <app-lista [tituloLista]="'Blusas Masculinas'" [listaBlusas]="administracaoBlusasMasculinas" (modal)="modal($event)"></app-lista>

    <app-lista [tituloLista]="'Blusas Femininas'" [listaBlusas]="administracaoBlusasFemininas" (modal)="modal($event)"></app-lista>

  </div>
  
  <div class="modal inactive">
    <div class="cardModal">
      <button class="close" (click)="modal()">X</button>
      <p>Deseja realmente excluir este item?</p>
      <div class="buttonsModal">
        <button class="btnModal delete" (click)="deleteItem()">Excluir</button>
        <button class="btnModal cancel" (click)="modal()">Cancelar</button>
      </div>
    </div>
  </div>

</div>
