<div class="bannerPrincipal">
  <div class="containerPrincipal">
    <h1>Moda Masculina</h1>
  </div>
</div>
<div class="itens">
  <div class="containerItens">
    <div class="cardItem" *ngFor="let blusaMasculina of blusasMasculinas">
      <div class="bgCard">
        <div class="cardImage">
          <div class="tamanho"> {{ blusaMasculina.tamanho }} </div>
        </div>
        <div class="infos">
          <ul>
            <li class="preco">R$ {{ blusaMasculina.preco }} </li>
            <li class="nome">{{ blusaMasculina.nome }}</li>
            <li class="marca">{{ blusaMasculina.marca }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
